<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="container">
    <ag-grid-angular *ngIf="dataLoaded==true" class="ag-theme-alpine-dark" style="height: 600px;width:auto" [rowData]="products"
    [columnDefs]="colDefs" [defaultColDef]="defaultColDef"   [rowSelection]="'multiple'"
    [animateRows]="true"  [rowGroupPanelShow]="'always'"></ag-grid-angular>
</div>



<!-- <table *ngIf="dataLoaded==true" class="table table-bordered">
    <thead>
        <tr>
            <th>StokAdi</th>
            <th>StokKodu</th>
            <th>StokGrubu</th>
            <th>StokAltGrubu</th>
            <th>Barkod</th>
            <th>Birimi</th>
            <th>SatisFiyati1</th>

        </tr>
    </thead>
    <tr *ngFor="let product of products">
        <td> {{product.StokAdi}} </td>
        <td> {{product.StokKodu}} </td>
        <td> {{product.StokGrubu}} </td>
        <td> {{product.StokAltGrubu}} </td>
        <td> {{product.Barkod}} </td>
        <td> {{product.Birimi}} </td>
        <td> {{product.SatisFiyati1}} </td>


    </tr>
</table> -->