<table class="table table-bordered">
    <tr *ngFor="let product of products">
        <td> {{product.StokAdi}} </td>
        <td> {{product.StokKodu}} </td>
        <td> {{product.StokGrubu}} </td>
        <td> {{product.StokAltGrubu}} </td>
        <td> {{product.SatisFiyati1}} </td>
        <td> {{product.Barkod}} </td>
        <td> {{product.BarkodTuru}} </td>
        <td> {{product.Durumu}} </td>
        <td> {{product.Birimi}} </td>
        <td> {{product.SatisFiyati1}} </td>
        <td> {{product.SatisFiyati2}} </td>
        <td> {{product.SatisFiyati3}} </td>


    </tr>
</table>
